.vote{
  .error{
    background: #f33;
    padding: 10px;
    border-radius: 10px;
  }
  pre{
    background: #bbb;
    padding: 30px 10px;
    border-radius: 10px;
    white-space: pre-wrap;
    font-size: 15px;
  }
  .option{
    display: inline-block;
    cursor: pointer;
    transition: all 0.5s ease;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    background: skyblue;
    &.active{
      background: greenyellow;
    }
    &.active::before{
      content: "○ ";
    }
    &::before{
      content: "　 ";
    }
  }
}
