.subscribe{
    textarea{
        width: calc(100% - 10px);
        height: 200px;
        resize: vertical;
        padding: 5px;
        font-size:15px;
        border-radius: 10px;
    }
    .err{
        background: red;
        padding: 5px;
        border-radius: 10px;
    }
    ul{
        li{
            input{
                font-size: 15px;
            }
            button{
                font-size: 15px;
                border-radius: 15px;
                padding: 3px 7px;
                border: 1px #000 solid;
            }
        }
    }
}